{% extends "network/layout.html" %}

{% block body %}
    <div id="create_post">
        <form method="post" action="{% url 'upload' %}">
            {% csrf_token %}
            <input type="textbox" name="content">
            <input type="submit">
        </form>
    </div>

    {% for item in post %}
        <div class="post">
            <span style="display:None" id="post_id">{{item.id}}</span>
            <a href="/profile/{{item.creator}}">
                <span class="creator">{{item.creator}}</span>
            </a>
            {{item.content}}
            <div class="timestamp">{{item.timestamp}}</div>
            {%if item in my_liked%}
                <div class="actions" data-press="{{item.id}}" data-status="liked" id="liked">{{item.likes}}</div>
            {% else %}
                <div class="actions" data-press="{{item.id}}" data-status="not_liked" id="not_liked">{{item.likes}}</div>       
            {% endif %}
        </div>
  
    {% endfor %}

{% endblock %}
