{% extends 'network/layout.html' %}
{% block body %}
<div class="post">
            <div class="one">
                <span style="display:None" class="post_id">{{post.id}}</span>
                <a href="/profile/{{item.creator}}">
                    <img src="/media/person.svg" class="person"/>
                </a>
                <div class="up">
                    <a href="/profile/{{item.creator}}">
                        <span class="creator">{{post.creator}}</span>
                    </a>
                    <div class="timestamp">{{post.timestamp}}</div>
                </div>
            </div>

            <div class="content">{{post.content}}<br>

                <div class="image">
                    {% for image in album %}
                        {% if image.post == post %}
                            <img src="{{image.link}}">
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            <div class="container">
                <div class="row post_actions">

                    <div class="col" type="button" data-toogle="tooltip" data-placement="bottom" title="Like post">
                        {%if item in my_liked%}
                            <div class="actions liked" data-press="{{post.id}}" data-status="liked"><img src="/media/liked.svg" class="react"/>{{post.likes}}</div>
                        {% else %}
                            <div class="actions not_liked" data-press="{{post.id}}" data-status="not_liked"><img src="/media/not_liked.svg" class="react"/>
                            {{post.likes}}</div>
                        {% endif %}
                    </div>

                    <span class="col edit actions" type="button" data-toogle="tooltip" data-placement="bottom" title="Edit post">
                        <a href="/edit/?psid={{item.id}}">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg></a>
                    </span>

                    <span class="col delete actions" type="button" data-toogle="tooltip" data-placement="bottom" title="delete Post">
                        <a href="/delete/{{item.id}}">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg></a>
                    </span>
                </div>
            </div>
        </div>
{% endblock %}